# **Module 3 - SQL CRUD Operations using SQLite Database**

## **Structured Query Language(SQL)**
- is a `programming language` used for **managing** and **manipulating data** held in a relational database management system (RDBMS).
- specifically designed for interacting with databases. It allows you to perform various operations like **querying** data, **inserting** new records, **updating** existing records, and **deleting** records.

### **Database Structure** 
- In SQL, data is stored in tables, which are organized into databases. 
- Each table consists of **rows** and **columns**. 
- `Rows` represent individual **records**, while `columns` represent **attributes** or **fields** of those records.

## **Import SQLite3**

# **Create SQLite Database**
If you want to create the database file in the current directory (where your Jupyter Notebook is located) and specify the name of the database file, you can do it like this:

Replace `database-name.db` with the desired name of your SQLite database file. When you run this command, it will create the SQLite database file in the current directory.

Syntax:
```
conn = sqlite3.connect('database-name.db')
```

Example:

## **Create a Cursor Object**

- Create a cursor object using the `cursor()` method. The cursor is used to execute SQL commands:

## **Create Table**
To define and create a new table in a database, you can use the `CREATE TABLE` statement.

Syntax:
```
cursor.execute("""
CREATE TABLE IF NOT EXISTS table-name (
    column1 data-type constraint,
    column2 data-type constraint,
    ...,
    columnN data-type constraint
);""")
```

Example:

## **Check if the employee table is created successfully.**

## **Deleting a Table**

If you want to delete the entire table, you can use the `DROP TABLE` statement.

Syntax:
```
cursor.execute("DROP TABLE table-name;")
```

Example:

## **Recreate the Table**

## **Check the structure of the table**


To display the structure of a table, including its fields (columns) even if it doesn't have any records yet, you can use database-specific commands:

- `cid`: The **column ID**.
- `name`: The **name** of the column.
- `type`: The **data type** of the column.
- `notnull`: Whether the column cannot contain **NULL values**.
- `dflt_value`: The **default value** of the column.
- `pk`: Whether the column is part of the **primary key**.

Note: 
- We call columns of the table as `fields`.
- We call tables as `schema`.


Syntax:
```
cursor.execute("PRAGMA table_info('table-name');")
cursor.fetchall()
```

Example:

## **Altering Table**

You might need to alter the table structure at some point. For example, you can add a new column like this:

Syntax:
```
cursor.execute("ALTER TABLE table-name ADD column-name data-type;")
```

Example:

## **Inserting Data**

You can insert data into the employees table using the `INSERT INTO` statement.

Syntax:
```
cursor.execute("""
INSERT INTO table-name (column1, column2, ..., columnN) 
VALUES (value1, value2, ..., valueN);
               """)
```

Example:

## **Selecting Data**

You can retrieve data from the employees table using the `SELECT` statement. This will return all rows and columns from the table.

Syntax:
```
cursor.execute("SELECT * FROM table-name;")
```

Example:

## **Selecting Specific Columns**
To retrieve data from specific columns of a table, you can use the `SELECT` statement with the column names specified.

Syntax:
```
cursor.execute("SELECT column1, column2, ..., columnN FROM table-name;")
```

Example:

## **Updating Data**

If you want to update existing data, you can use the `UPDATE` statement.

Syntax:
```
cursor.execute("""
UPDATE table-name 
SET column-name = new-data 
WHERE primary-key = value;
            """)
```

Example:

## **Deleting Data**

You can delete data from the table using the `DELETE` statement. 

Syntax:
```
cursor.execute("DELETE FROM table-name WHERE primary-key = value;")
```

Example: